@using RiskGame.Helper

<div>PlayerName:  @Singleton.Game().PlayerName</div>
<div>Money:  @Singleton.Game().Money</div>
<div>Turn:  @Singleton.Game().Turn</div>
<div>GameRoomId:  @Singleton.Game().GameRoomId</div>