@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right" style="display:inline-block;">
        <li style="display:inline-block">
            <div class="alert alert-info" role="alert">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </div>
        </li>
        <li style="display:inline-block"><a class="btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right"  style="display:inline-block;">
        <li style="display:inline-block"><i class="fa fa-key"></i> @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" , @class="btn btn-" })</li>
        <li style="display:inline-block"><i class="fa fa-lock"></i> @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-default" })</li>
    </ul>
}
