@{
    ViewBag.Title = "Home Page";
}
@using RiskGame.Models
@using System.Web.Script.Serialization
@*<iframe src="~/DashBoard" width="100%" height="500px" />*@

@section BreadCrumb{
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
@if (Request.IsAuthenticated)
{

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <a href="@Url.Action("addroom","room", new { player = 1})">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        @*<span class="count">10468</span>*@
                    </h4>
                    <h2 class="text-light text-white"><i class="fa fa-user"></i> Create Single Player</h2>
                    <div class="chart-wrapper px-0" style="height:70px;text-align: right;vertical-align: text-bottom;position: relative;top: 40px;left: 10px;" height="70">
                        <span class="badge badge-pill badge-dark">เกมส์โหมดเล่นคนเดียว</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-3">
            <a href="@Url.Action("addroom","room")">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        @*<span class="count">10468</span>*@
                    </h4>
                    <h2 class="text-light text-white"> <i class="fa fa-users"></i> Create MultiPlayer</h2>
                    <div class="chart-wrapper px-0" style="height:70px;text-align: right;vertical-align: text-bottom;position: relative;top: 40px;left: 10px;" height="70">
                        <span class="badge badge-pill badge-dark">เกมส์โหมดเล่นหลายคน</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-12 col-lg-12">

        <div id="gameRoomTable"></div>



    </div>



    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.gameHub;
            debugger;
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                GetListRoom();

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                // alert("connection started")
                GetListRoom();
            }).fail(function (e) {
                alert(e);
            });
        });


        function GetListRoom() {
            var tbl = $('#gameRoomTable');
            $.ajax({
                url: '/Room/GetListRoom',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
            }).error(function () {

            });
        }
    </script>
    @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script>


            Swal.fire({
                title: 'Error!',
                text: 'Do you want to continue',
                type: 'error',
                confirmButtonText: 'Cool'
            })


        </script>*@



        @*var javaScriptSearilizer = new JavaScriptSerializer();
        var list = new OpenRiskGameBattleModel
        {
            RiskGameBattleData = new List<GameBattleData>
{
    new GameBattleData
    {
        title ="ความเสี่ยงที่คุณได้รับมีทั้งหมด",
        type = "warning"
    },
    new GameBattleData
    {
        title ="3 ความเสี่ยง คือ",
        type = "warning"
    },
    new GameBattleData
    {
        title ="1",
        imageUrl = "/Content/sufee/images/logo.png"
    },
    new GameBattleData
    {
        title ="2",
        imageUrl = "/Content/sufee/images/logo.png"
    },
    new GameBattleData
    {
        title ="3",
        imageUrl = "/Content/sufee/images/logo.png"
    },
}
        };



        var searializedObject = javaScriptSearilizer.Serialize(list);
    

    <script>
        var searializedObject = @Html.Raw(searializedObject)
        Swal.queue(searializedObject.RiskGameBattleData);
    </script>*@



}
else
{
    <h1>@Html.Raw("Welcome to The Risk Game")</h1>
    <br />
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <img src="~/Content/sufee/images/riskorsafe_300.png">
        </div>

        <div class="col-sm-6 col-lg-6">
            <h2>คำอธิบายเกมส์</h2>

        </div>
    </div>

    <script>

                                        //  $.ajax({
                                        //      url: '/Home/GetOpenRiskGameBattle',
                                        //    contentType: 'application/html ; charset:utf-8',
                                        //    type: 'GET',
                                        //    dataType: 'JSON',
                                        //}).success(function (data) {
                                        //    debugger;
                                        //    Swal.queue(data.Result.RiskGameBattleData);


                                        //}).error(function () {

                                        //});



                                        //Swal.queue([
                                        //    { title: "ความเสี่ยงที่คุณได้รับมีทั้งหมด", type: "warning" },
                                        //    { title: "3 ความเสี่ยง คือ", type: "warning" },
                                        //    {
                                        //        title: "1x", imageUrl: '/Content/sufee/images/logo.png', imageWidth: 400, imageHeight: 200,
                                        //    },
                                        //    {
                                        //        title: "2x", imageUrl: '/Content/sufee/images/logo.png', imageWidth: 400, imageHeight: 200,
                                        //    },
                                        //    {
                                        //        title: "3x", imageUrl: '/Content/sufee/images/logo.png', imageWidth: 400, imageHeight: 200,
                                        //    }
                                        //]);

                                        //Swal.fire({
                                        //    title: 'Sweet!',
                                        //    text: 'Modal with a custom image.',
                                        //    imageUrl: 'https://unsplash.it/400/200',
                                        //    imageWidth: 400,
                                        //    imageHeight: 200,
                                        //    imageAlt: 'Custom image',
                                        //    animation: false
                                        //})
                                        //Swal.fire({ title: "<i class='fa fa-lock' style='margin-top: 5px;'></i>&nbsp;กรุณาล็อกอินเพื่อเข้าสู่ระบบ", type: "info"});
    </script>
}