@{
    ViewBag.Title = "Home Page";
}

@*<iframe src="~/DashBoard" width="100%" height="500px" />*@

@section BreadCrumb{
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
@if (Request.IsAuthenticated)
{

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <a href="@Url.Action("addroom","room", new { player = 1})">
                <div class="card-body pb-0">
                    <h4 class="mb-0">                    
                        @*<span class="count">10468</span>*@
                    </h4>
                    <h2 class="text-light text-white"><i class="fa fa-user"></i> Create Single Player</h2>
                    <div class="chart-wrapper px-0" style="height:70px;text-align: right;vertical-align: text-bottom;position: relative;top: 40px;left: 10px;" height="70">                  
                        <span class="badge badge-pill badge-dark">เกมส์โหมดเล่นคนเดียว</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-3">
            <a href="@Url.Action("addroom","room")">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        @*<span class="count">10468</span>*@
                    </h4>
                    <h2 class="text-light text-white"> <i class="fa fa-users"></i> Create MultiPlayer</h2>
                    <div class="chart-wrapper px-0" style="height:70px;text-align: right;vertical-align: text-bottom;position: relative;top: 40px;left: 10px;" height="70">  
                        <span class="badge badge-pill badge-dark" >เกมส์โหมดเล่นหลายคน</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-12 col-lg-12">

        <div id="gameRoomTable"></div>



    </div>



    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.gameHub;
            debugger;
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                GetListRoom();

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                // alert("connection started")
                GetListRoom();
            }).fail(function (e) {
                alert(e);
            });
        });


        function GetListRoom() {
            var tbl = $('#gameRoomTable');
            $.ajax({
                url: '/Room/GetListRoom',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
            }).error(function () {

            });
        }
    </script>

}
else
{
    @Html.Raw(" Please Login")
}