@model RiskGame.Models.GameRoomModel
@{
    ViewBag.Title = "Wait Room Page";

   // var ob = RiskGame.Helper.Singleton.User();
}

<div class="row">
    <h2>Wait Room Page</h2>
    <h5>Owner:</h5> @User.Identity.Name 
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div id="userGameRoom"></div>
    </div>
</div>

@using (Html.BeginForm("AddRoom", "Room", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="WaitRoom">    
        <div class="row text-center">
            <br />
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Create</button>
        </div>
    </div>
}





<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var notifications = $.connection.gameHub;

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        notifications.client.updateMessages = function () {
            GetPlayer();

        };
        // Start the connection.
        $.connection.hub.start().done(function () {
           // alert("connection started")
            GetPlayer();
        }).fail(function (e) {
            alert(e);
        });
    });


    function GetPlayer()
    {
        var tbl = $('#userGameRoom');
        $.ajax({
            url: '/Room/GetPlayer',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            data: {id: @Model.GameRoomId}
        }).success(function (result) {
            tbl.empty().append(result);
        }).error(function () {

        });
    }
</script>



